# Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Phython
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NUmpy
3. Matplotlib

Data Science Tools
|Tools|
|-----|
|Python|
|R|
|Github|

### Below are a few examples of evaluating arithmetic expression in python

In [14]:
#this is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [15]:
#this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives**
- pyhton
- SQL
- R

## Author
Akmal